// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $secondary-color;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  border: 1px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;

  &:hover, &:focus {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }

  &.button-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover, &:focus {
      color: #fff;
      background-color: $link-color;
      border-color: $link-color;
    }
  }
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: $secondary-color;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: $global-radius;
    border: 1px solid $border-color;
    cursor: pointer;
    box-sizing: border-box;

    &:hover, &:focus {
      color: $dark-grey;
      border-color: lighten($dark-grey, 33.3%);
      outline: 0;
    }

    &.button-primary {
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color;
      &:hover, &:focus {
        color: #fff;
        background-color: $link-color;
        border-color: $link-color;
      }
    }
  }
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($border-color, 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
  }
}
